[submodule "app-icon-generator"]
	path = Scripts/app-icon-generator
	url = https://github.com/kamaal111/app-icon-generator.git
	branch = main
[submodule "swiftlint_checker"]
	path = Scripts/swiftlint_checker
	url = https://github.com/kamaal111/swiftlint_checker.git
	branch = main
[submodule "xcode-acknowledgements"]
	path = Scripts/xcode-acknowledgements
	url = https://github.com/kamaal111/xcode-acknowledgements.git
	branch = main
