[submodule "app-icon-generator"]
	path = Scripts/app-icon-generator
	url = https://github.com/kamaal111/app-icon-generator.git
	branch = main
[submodule "swiftlint_checker"]
	path = Scripts/swiftlint_checker
	url = https://github.com/kamaal111/swiftlint_checker.git
	branch = main
[submodule "xcode-acknowledgements"]
	path = Scripts/xcode-acknowledgements
	url = https://github.com/kamaal111/xcode-acknowledgements.git
	branch = main
[submodule "open-api-maker"]
	path = Scripts/open-api-maker
	url = https://github.com/kamaal111/open-api-maker.git
	branch = main
[submodule "xctools"]
	path = Scripts/XcTools
	url = https://github.com/kamaalio/XcTools.git
	branch = main
