.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Sources/Users/Internals/Resources/Secrets.json
Sources/PhrasesV1/Internals/Resources/Secrets.json
Sources/PhrasesV2/Internals/Resources/Secrets.json
Sources/Users/Internals/Resources/Acknowledgements.json
Sources/PhrasesV2/Internals/Resources/Secrets.json
